.git
.github
.idea
.vscode
.env
.env.*
!.env.example
.phpunit.result.cache
api-testing-suite-v2
docs
node_modules
tests
vendor
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
